/*index.html styles*/
* {
  font-family: 'Roboto', sans-serif;
}

header {
  flex-direction: row;
}

#logo-container {
  display: flex;
}

#logo {
  flex: 2;
  height: 20%;
}

#logo-image {
  height: 20%;
  width: 20%;
  position: absolute;
}

#logo-image img {
  width: 100%;
}

nav {
  display: flex;
  width: auto;
  height: 20%;
  align-items: center;
  margin-top: 20px;
  margin-left: 50%;
  background-color: #D6F3DC;
  border-radius: 50px 0px 0px 50px;
  }

nav ul {
  display: flex;
  width: 100%;
  font-size: 20px;
  display: flex;
}

nav li {
  list-style: none;
  font-size: 12pt;
  width: 40%;
  color: #166B19;
}

a {
  text-decoration: none;
  color: #166B19;
}

#crf1-new {
  display: flex;
}

#crf1-container {
  flex: 1;
  height: 40%;
  width: 40%;
}

#crf1 {
  display: flex;
  margin-top: 5%;
}

#crf1-img{
  position: absolute;
  height: 40%;
  width: 40%;
}

#crf1-img img {
  width: 100%;
}

#crf2-new {
  display: flex;
}


#crf2-container {
  height: 40%;
  width: 40%;
}

#crf2 {
  display: flex;
  margin-left: 150%;
}

#crf2-img{
  position: absolute;
  height: 40%;
  width: 40%;
}

#crf2-img img {
  width: 100%;
}

#books-new{
  display: flex;
}

#books {
  position: absolute;
  margin-left: 35%;
  padding-top: 25%;
  font-size: 20pt;
}

#books-p {
  position: absolute;
  margin-left: 40.5%;
  font-size: 14pt;
  padding-top: 29%;
  font-weight: lighter;
  width: 10%;
}

#grBox {
  background-color: #99E2A9;
  position: absolute;
  height: 5%;
  width: 11.5%;
  margin-left: 35%;
  margin-top: 27.5%;
}

#extra-new{
  display: flex;
}

#extra {
  position: absolute;
  margin-left: 55%;
  font-size: 20pt;
  background-color: #99E2A9;
  background-position: ;
}

#extra-p {
  position: absolute;
  margin-left: 49%;
  font-size: 14pt;
  padding-top: 4%;
  font-weight: lighter;
  width: 12%;
}

#redBox {
background-color: #FFDBDB;
height: 42%;
width: 100%;
display: flex;
position: absolute;
margin-top: 46%;
}

.red-text {
  position:relative;
  margin-top: 50%;
  text-align: left;
  margin-left: 15%;
  width: 65%;
  font-size: 14pt;
  font-weight: lighter;
}

.red-text span {
  font-size: 18pt;
  font-weight: bold;
}

.byline {
  position: relative;
  text-align: left;
  font-size: 12pt;
  font-weight: lighter;
  margin-left: 85%;
}

.author-itl {
  position: relative;
  text-align: left;
  font-style: italic;
  font-size: 12pt;
  font-weight: 100;
  margin-left: 87%;
  margin-top: -1%;

}

#steam-cont{
  display: flex;
}

#steam-container {
  flex: 3;
  height: 20%;
  width: 100%;
}

#steam {
  display: flex;
  margin-top: 8%;
}

#steam-img{
  height: 20%;
  width: 100%;
  margin-left: 10%;
}

#steam-img img {
  width: 100%;
}

#steam-new {
  flex: 1;
}

#steam-header {
  margin-top: 40%;
  text-align: right;
  padding-right: 15px;
  border-right: 2px solid #166B19;
}

#steam-text {
  font-weight: lighter;
  text-align: right;
  padding-right: 15px;
  border-right: 2px solid #166B19;
}

#classroom-new {
  display: flex;
}

#classroom-container {
  margin-top: 8%;
  flex: 1;
  margin-left: 10%;
}

#classroom {
  width: 60%;
}

#classroom-img {
  height: 15%;
}

#classroom-img img {
  width: 100%;
}

#reviews-container {
  display: flex;
  flex-direction: column;
}

.reviews {
  flex: 1;
  font-weight: lighter;
  width: 23%;
  margin: -40% 0% 0% 70%;
}

.reviews p {
  padding: 5%;
}


#multi{
  text-align: center;
  margin-top: 8%;
  width: 100%;

}

#multi-p{
  font-weight: 300;
  text-align: left;
  width: 60%;
  margin: 0% 0% 0% 16%;
  border-left: 2px solid #166B19;
  padding-left: 3%;
}

#multi .card{
  background-color: #F4F4F4;
  border-radius: 5px;
}
#multi .card img{
  max-width: 150px;
  padding: 10px;
}

#multi .card-text{
  font-weight: 300;
  padding: 0px 10px 10px 10px;
}
#multi .card-text h5, #multi .card-text p, {
  line-height: 20px;
}

.card-1, .card-2, .card-3, .card-4, .card-5{
  width: 200px;
  display: inline-block;
}

.card{
  width: 175px;
  display: flex;
  display: inline-block;
  text-align: center;
  margin: 15px;
}

footer {
  text-align: center;
  flex-direction: row;
  background-color: #D6F3DC;
  width: 100%;
  padding: 5%;
  margin-top: 5%;
}

#footer-container {
  display: flex;
  width: 50%;
}

#up-to-date {
  font-weight: lighter;
  font-size: 12pt;
  flex: 2;
}

#up-to-date span {
  font-weight: bold;
  font-size: 14pt;
}

#up-to-date form input {
  font-weight: lighter;
  color: grey;
  background: white;
  padding: 2%;
  text-align: left;
  width: 80%;
  font-size: 12pt;
}

#up-to-date input[type=submit] {
  width: 85%;
  margin-top: 1%;
  background: #166B19;
  border-style: hidden;
  color: white;
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
  letter-spacing: .5pt;
}

#donate-foot {
  font-weight: lighter;
  font-size: 12pt;
  flex: 2;
}

#donate-foot span {
  font-weight: bold;
  font-size: 14pt;
}

#donate-foot form input {
  font-weight: lighter;
  color: grey;
  background: white;
  padding: 2%;
  text-align: left;
  width: 80%;
  font-size: 12pt;
}

#donate-foot input[type=submit] {
  width: 85%;
  margin-top: 1%;
  background: #166B19;
  border-style: hidden;
  color: white;
  font-size: 13pt;
  font-weight: bold;
  text-align: center;
  letter-spacing: .5pt;
}

#candy-container {
  width: 100%;
  height: 8%;
  margin-top: 2%;
}

#candy {
  height: 8%;
}

#candy-img {
  height: 8%;
}

#candy-img img {
  width: 100%;
}

/*MOBILE*/
@media only screen and (max-width: 600px) {

  #logo-container {
    display: flex;
    height: 10%;
    width: 30%;
    margin-left: 28%;
  }

  #logo {
    height: 10%;
  }

  #logo-image {
    display: block;
    height: 10%;
    width: 35%;
    align-items: center;
  }


  nav {
    margin-top: 15%;
    margin-left: 0%;
    display: block;
    width: 100%;
    height: 5%;
    align-items: center;
    background-color: #D6F3DC;
    border-radius: 25px 0px 0px 25px;
    }

  nav ul {
    display: flex;
    width: 100%;
    font-size: 16px;
  }

  nav li {
    list-style: none;
    font-size: 10pt;
    width: 25%;
    color: #166B19;
  }

  a {
    text-decoration: none;
    color: #166B19;
  }

  #crf1-new {
    display: block;
  }

  #crf1-container {
    height: 40%;
    width: 40%;
  }

  #crf1 {
    margin: 5% 0% 45% 65%;
  }

#crf2-new {
    display: block;
  }

  #crf2-container {
    flex: 1;
    height: 40%;
    width: 40%;
    margin: 40% 0% 0% 27%;
  }

  #crf2 {
    margin: 100% 0% 0% 0%;
  }

  #books-new {
    display:block;
  }

  #books {
    margin: -5.5% 0% 0% 32%;
    padding-top: 0%;
    font-size: 14pt;
    flex: 1;
  }

  #books-p {
    position: relative;
    margin: -12% 0% 00% 35%;
    font-size: 10pt;
    padding-top: 0%;
    width: 20%;
  }

#extra-new{
  display: block;
}

  #extra {
    margin: 37% 0% 0% 35%;
    font-size: 14pt;
  }

  #extra-p {
    font-size: 10pt;
    margin-top: -3.5%;
    width: 25%;
    margin: 39% 0% 0% 30%;
  }

  #grBox {
    height: 3.5%;
    width: 24%;
    margin-left: 31.5%;
    margin-top: -14%;
  }

  #redBox {
  height: 65%;
  width: 100%;
  margin-top: 65%;
  }

  .red-text {
    position:relative;
    margin-top: 75%;
    text-align: left;
    margin-left: 15%;
    width: 65%;
    font-size: 12pt;
  }

  .red-text span {
    font-size: 14pt;
  }

  .byline {
    font-size: 10pt;
    margin-left: 85%;
    margin-top: -5%;
  }

  .author-itl {
    font-size: 10pt;
    font-weight: 100;
    margin-left: 87%;
    margin-top: -3%;
  }

#steam-cont{
  display: block;
  margin-top: 15%;
}

#steam-container {
  flex: 3;
  height: 20%;
  width: 100%;
}

#steam {
  display: block;
  margin-top: 8%;
}

#steam-img{
  margin-left: 0%;
}

#steam-new {
  flex: 1;
}

#steam-header {
  margin-top: 0%;
  text-align: right;
  padding-right: 15px;
  border-right: 2px solid #166B19;
}

#steam-text {
  padding-right: 15px;
  border-right: 2px solid #166B19;
}

#classroom-new {
  display: block;
}

#classroom-container {
  flex: 1;
  width: auto;
  margin-top: 20%;
  }

#classroom {
  height: auto;
  width: 95%;
  }

#classroom-img {
  margin-left: 0%;
  height: auto;
  }

  #reviews-container {
    display: block;
    flex-direction: row;
  }

  .reviews {
    flex: 3;
    width: 75%;
    margin: 0% 0% 0% 20%;
  }

  .reviews p {
    padding: 5%;
  }

#multi-p {
  margin: 0% 0% 0% 16%;
  border-left: 2px solid #166B19;
  padding-left: 5%;
}

  #footer-container {
    display: block;
    width: 80%;
  }


}
